<?xml version="1.0" encoding="UTF-8"?>
<!-- 部署时将 `logback-spring.xml` 放于与 Jar 同级目录的 `config` 子目录下，并通过如下命令运行程序（其中 `&#45;` 就是连字符 `-`）：
    `java -jar xxx.jar &#45;&#45;logging.config=file:./config/logback-spring.xml` -->
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

  <property name="LOG_FILE_DIR" value="logs"/>
  <property name="LOG_FILE_NAME" value="web"/>
  <property name="MAX_FILE_SIZE" value="100MB"/>
  <property name="MAX_HISTORY" value="60"/>
  <property name="TOTAL_SIZE_CAP" value="20GB"/>

  <appender name="LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_FILE_DIR}/${LOG_FILE_NAME}.log</file>
    <encoder>
      <pattern>${FILE_LOG_PATTERN}</pattern>
      <charset>${FILE_LOG_CHARSET}</charset>
    </encoder>

    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>
        ${LOG_FILE_DIR}/${LOG_FILE_NAME}-%d{yyyy-MM-dd}.%i.log
      </fileNamePattern>
      <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
      <maxHistory>${MAX_HISTORY}</maxHistory>
      <totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>
      <cleanHistoryOnStart>true</cleanHistoryOnStart>
    </rollingPolicy>
  </appender>

  <!--
  <logger name="com.zaxxer.hikari" level="TRACE" additivity="false">
    <appender-ref ref="CONSOLE"/>
  </logger>
  -->

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="LOG_FILE"/>
  </root>
</configuration>